.env
.env.*
secrets.json
credentials.json

venv/
.venv/
env/
/bin/
/lib/
__pypackages__/

**/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.cache/
.mypy_cache/


temp/
tmp/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

.vscode/
.idea/
.kiro/
*.swp
*.swo

.DS_Store
Thumbs.db